<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
    <head th:include="layout :: htmlhead">
      <link rel="stylesheet" href="../../static/style.css"/>
    </head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <h1>Estoque</h1>

        <a href="/" class="btn btn-primary">Voltar</a>
        <a href="/itemEstoque/novo" class="btn btn-primary">Novo</a>

        <table class="table" id="tabitemEstoque">
            <thead>
                <th>Produto</th>
                <th>Material</th>
                <th>Quantidade</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="umItemEstoque : ${listaItemEstoque}">
                    <td th:text="${umItemEstoque.Produto}"></td>
                    <td th:text="${umItemEstoque.Produto.Material.TipoProduto}"></td>
                    <td th:text="${umItemEstoque.Quantidade}"></td>
                    <td>
                        <!-- <a th:href="@{'/itemEstoque/alterar/' + ${umItemEstoque.id}}" class="btn btn-warning">Alterar</a> -->
                        <button class="btn btn-danger js-delete"
                            th:data-id="${umItemEstoque.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal" tabindex="-1" id="modalItemEstoque">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Item</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do item?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsimitemEstoque">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptItemEstoque.js}"></script>
        
    </body>
    <div th:include="layout :: footer">(footer)</div>
</html>