body{height: 100vh;}
.bottom-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    padding: 10px;
}

.image{
    width: 40%;
    height: auto;
    margin: auto;
    display: block;
    
}

.btn{
    background-color: #0957aa;
}

