<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" lang="pt-br">

    <head th:include="layout :: htmlhead"></head>
        <nav th:include="layout :: menu">(menu)</nav>
    <h1>Clientes</h1>

    <table class="table">
        <thead>
            <th>name</th>
            <th>Endereço</th>
            <th>Data Nascimento</th>
        </thead>
        <tbody>
            <tr>
                <td>Rafa</td>
                <td>Rua akjgdgkjaf 69</td>
                <td>17/04/2024</td>
            </tr>
        </tbody>


    </table>


    <body>
        <h1>Sistema muito legal</h1>

    </body>
</html>